*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 2;
}
li{
    float: left;
    border-right: 1px solid #bbb;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}
li a:hover:not(.active){
    background-color: rgb(14, 44, 69);
}
.active{
    background-color: rgb(6, 26, 57);
    color: white;
}
li:last-child{
    border-right: none;
}
a{
    display: block;
    padding: 8px;
} 
#container{
    position: relative;
    margin-top: 10px;
    background-image: url('assets/images/Lion\ cub.jpg');
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.topleft{
    position: absolute;
    top: 10px;
    left: 18px;
    font-size: 20px;
}
.topright{
    position: absolute;
    top: 13px;
    right: 17px;
    font-size: 20px;
}
.bottomleft{
    position: absolute;
    bottom: 10px;
    left: 14px;
    font-size: 20px;
}
.bottomright{
    position: absolute;
    bottom: 10px;
    right: 12px;
    font-size: 20px;
}
.center{
    position:absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 35px;
}
.style{
    margin-left: 2%;
    padding: 1px 16px;
    height: 1000px;
}