*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
}
form{
    background-color: pink;
    /* width: 100%; */
    min-height: 100vh;
    text-align: center;
    justify-content: center;
}
form h2{
    padding-top: 20px;
    font-size: 30px;
}
form input{
    font-size: 14px;
    width: 400px;
    padding: 10px 25px;
    border-radius: 4px;
    background-color: white;
    border: none;
}
.Original{
    margin-top: 20px;
}
form input:focus{
    outline: none;
}
button{
    font-size: 14px;
    width: 400px;
    padding: 10px 25px;
    border-radius: 4px;
    background-color: white;
    border: none;
}
button:hover{
    text-decoration: none;
    background-color: rgb(228, 120, 177);
}
p{
    font-size: 20px;
}
a{
    text-decoration: none;
    color: blueviolet;
    font-size: 20px;
}