*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Navbar{
    text-align: center;
    width: 100%;
    height: 80px;
    /* border: 2px solid black; */
}
ul{
    list-style-type: none;
    text-align: center;
    margin-top: 40px;
    padding: 0;
    top: 0;
    height: 60px;
    font-size: 25px;
    background-color: antiquewhite;
    position: static;
}
li{
    display: inline;
    padding: 5px;
}
li span{
    padding: 35px;
    float: left;
    margin-left: 20px;
    background-image: url('images/Instagram_icon.png');
    background-size: cover;
    background-repeat: no-repeat;
}
li a{
    color: rgb(56, 17, 252);
    text-decoration: none;
    padding: 20px 30px;
}
li a:hover{
    color: rgb(0, 157, 255);
}
.portfolio{
    width: 95%;
    height: 700px;
    margin: 7px 45px 0px 35px;
    box-shadow: 0px 20px 16px 10px rgb(148, 148, 148);
    background-color: antiquewhite;
}
.background-image{
    width: 100%;
    height: 620px;
    background-image: url('images/woman1.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.style{
    text-align: center;
}
h1{
    padding: 170px 100px 20px 700px;
    font-size: 40px;
    color: rgb(51, 111, 184);
}
h1 span{
    color: rgb(3, 108, 255);
}
p{
    font-size: 20px;
    color: rgb(15, 156, 244);
    padding-left: 500px;
}
input{
    padding: 13px 20px;
    margin-top: 14px;
    outline: none;
    border: none;
}
button{
    border: none;
    padding: 13px 40px;
    color: white;
    background-color: rgb(87, 112, 255);
    border-radius: 2px;
    margin-left: 35px;
}
button:hover{
    background-color: rgb(39, 100, 255);
    color: rgb(5, 5, 11);
}
